#main-calc-body{
    width: 300px;
    height: 450px;
    background-color:lightblue;
    text-align: center;
    margin: 0 auto;
    border-radius: 5%;
    border-style: solid;
    border-color: orchid;
}
body{
    text-align: center;
}
#display{
    display: flex;
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: silver;
    justify-content: end;
    align-content: center;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;

    white-space: nowrap;
    overflow: hidden;
}
#container{
    box-sizing: border-box;
    padding: 10px;
    width:95%;
    height: 98%;
    width: 100%;
    height: 100%;
}
#display-value{
    font-size: 4em;
    margin: 0;
    padding-right: 5px;
}
#buttons-container{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    row-gap: 5%;
    column-gap: 5%;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 75%;

    grid-template-areas: 
    "clear clear del div"
    "number-7 number-8 number-9 mult"
    "number-4 number-5 number-6 sub"
    "number-1 number-2 number-3 add"
    "number-0 dot equal equal";
}
button{
    text-align: center;
    border-radius: 15%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-size: 1em;
    font-weight: bold;
}
#number-1{
    grid-area: number-1;    
}
#number-2{
    grid-area: number-2;
}
#number-3{
    grid-area: number-3;
}
#number-4{
    grid-area: number-4;
}
#number-5{
    grid-area: number-5;
}
#number-6{
    grid-area: number-6;
}
#number-7{
    grid-area: number-7;
}
#number-8{
    grid-area: number-8;
}
#number-9{
    grid-area: number-9;
}
#number-0{
    grid-area: number-0;
}
#add{
    grid-area: add;
    background-color: orange;
    font-size: 2em;
}
#sub{
    grid-area: sub;
    background-color: orange;
    font-size: 2em;
}
#mult{
    grid-area: mult;
    background-color: orange;
    font-size: 2em;
}
#div{
    grid-area: div;
    background-color: orange;
    font-size: 2em;
}
#clear{
    grid-area: clear;
    background-color: red;
}
#del{
    grid-area: del;
    background-color: red;
}
#equal{
    grid-area:equal;
    background-color: green;
    font-size: 2em;
}
#dot{
    grid-area: dot;
}